{% extends theme ~ '/base.twig' %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/{{ theme }}/js/pages/profile.js"></script>
{% endblock %}
{% block content %}

    <div class="form-container">
        <h3 class="title">{{ __('Update User Information') }}</h3>
        <form action="/admin/profile" method="post">
            <div class="input-row">
                <label for="display_name">{{ __('Full Name') }}:</label>
                <input type="text" id="display_name" name="display_name" value="{{ user.display_name }}">
            </div>
            <div class="input-row">
                <label for="phone">{{ __('Phone Number') }}:</label>
                <input type="text" id="phone" name="phone" value="{{ user.phone }}">
            </div>
            <div class="input-row">
                <label for="email">{{ __('Email Address') }}:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="input-row">
                <label for="language">{{ __('Selected Language') }}:</label>
                <select name="language" id="language">
                    <option value="tr_TR" {{ user.language == 'tr_TR' ? 'selected': '' }}>Türkçe</option>
                    <option value="en_US" {{ user.language == 'en_US' ? 'selected': '' }}>English</option>
                </select>
            </div>
            <div class="input-row">
                <label for="theme">{{ __('Selected Theme') }}:</label>
                <select name="theme" id="theme">
                    <option value="default" {{ user.theme == 'default' ? 'selected': '' }}>Default Tema</option>
                    <option value="modern" {{ user.theme == 'modern' ? 'selected': '' }}>Modern Tema</option>
                </select>
            </div>
            <div class="input-row">
                <label for="is_mfa_enabled">{{ __('Enable 2FA') }}:</label>
                <select name="is_mfa_enabled" id="is_mfa_enabled">
                    <option value="1" {{ user.is_mfa_enabled == '1' ? 'selected': '' }}>Enabled</option>
                    <option value="0" {{ user.is_mfa_enabled == '0' ? 'selected': '' }}>Disabled</option>
                </select>
            </div>
            {% if user.is_mfa_enabled and user.mfa_recovery_codes is not null %}
                <div class="input-row">
                    <label for="is_mfa_enabled">{{ __('Recovery Codes') }}:</label>
                    <div id="recovery_codes">
                        <button type="button" id="show_recovery_codes">Show</button>
                        <button type="button" id="generate_recovery_codes">Generate</button>
                    </div>
                </div>
            {% endif %}
            {% if user.is_mfa_enabled and user.mfa_recovery_codes is null %}
                <div class="input-row">
                    <label for="mfa_validation">{{ __('Validate 2FA') }}:</label>
                    <input type="text" id="mfa_validation" name="mfa_validation" value="">
                </div>
                <div class="alert alert-info">
                    {{ __('Please use QR CODE for adding to your 2FA app and enter your 6 digits password for validation') }}
                </div>
                <div class="input-row">
                    <label for="qrcode-image"></label>
                    {{ qrcode_svg|raw }}
                </div>
            {% endif %}
            <hr>

            <div class="alert alert-warning">
                {{ __('If you are not going to change your password, leave it blank') }}
            </div>

            <div class="input-row">
                <label for="password">{{ __('Password') }}:</label>
                <input type="password" id="password" name="password" value="">
            </div>

            <div class="input-row">
                <label for="password_confirmation">{{ __('Confirm Password') }}:</label>
                <input type="password" id="password_confirmation" name="password_confirmation" value="">
            </div>

            <div class="input-row">
                <label></label>
                <button type="submit">{{ __('Update') }}</button>
            </div>
        </form>
    </div>

{% endblock %}