{% extends theme ~ '/base.twig' %}
{% block content %}

    <div class="form-container">
        <h3 class="title">Kullanıcı Bilgilerini Güncelle</h3>
        <form action="/admin/profile" method="post">
            <div class="input-row">
                <label for="display_name">Adı Soyadı:</label>
                <input type="text" id="display_name" name="display_name" value="{{ user.display_name }}">
            </div>
            <div class="input-row">
                <label for="phone">Telefon Numarası:</label>
                <input type="text" id="phone" name="phone" value="{{ user.phone }}">
            </div>
            <div class="input-row">
                <label for="email">Eposta Adresi:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="input-row">
                <label for="language">Sistem Dili:</label>
                <select name="language" id="language">
                    <option value="tr_TR" {{ user.language == 'tr_TR' ? 'selected': '' }}>Türkçe</option>
                    <option value="en_US" {{ user.language == 'en_US' ? 'selected': '' }}>English</option>
                </select>
            </div>
            <div class="input-row">
                <label for="theme">Sistem Teması:</label>
                <select name="theme" id="theme">
                    <option value="default" {{ user.theme == 'default' ? 'selected': '' }}>Default Tema</option>
                    <option value="modern" {{ user.theme == 'modern' ? 'selected': '' }}>Modern Tema</option>
                </select>
            </div>
            <hr>

            <div class="alert alert-warning">
                Parolanızı değiştirmeyecekseniz aşağıdaki alanı boş bırakın.
            </div>

            <div class="input-row">
                <label for="password">Parola:</label>
                <input type="password" id="password" name="password" value="">
            </div>

            <div class="input-row">
                <label for="password_confirmation">Parola (Tekrar):</label>
                <input type="password" id="password_confirmation" name="password_confirmation" value="">
            </div>

            <div class="input-row">
                <label></label>
                <button type="submit">Güncelle</button>
            </div>
        </form>
    </div>

{% endblock %}