{% extends theme ~ '/base.twig' %}
{% block content %}

    <div class="form-container">
        <h3 class="title">{{ __('Add resident in', flat.display_name)  }}</h3>
        <form action="/admin/residents/create/{{ flat.id }}" method="post">
            <div class="input-row">
                <label for="display_name">{{ __('Full Name') }}:</label>
                <input type="text" id="display_name" name="display_name" value="">
            </div>
            <div class="input-row">
                <label for="phone">{{ __('Phone Number') }}:</label>
                <input type="text" id="phone" name="phone" value="">
            </div>
            <div class="input-row">
                <label for="email">{{ __('Email Address') }}:</label>
                <input type="email" id="email" name="email" value="">
            </div>

            <div class="input-row">
                <label></label>
                <button type="submit">{{ __('Add') }}</button>
            </div>
        </form>
    </div>

{% endblock %}