{% extends 'base.twig' %}
{% block content %}
    <div class="stats">
        <div class="stat-box">
            <h4>{{ __('Total Buildings') }}</h4>
            <div>{{ stats['buildings'] }}</div>
        </div>
        <div class="stat-box">
            <h4>{{ __('Total Flats') }}</h4>
            <div>{{ stats['flats'] }}</div>
        </div>
        <div class="stat-box">
            <h4>{{ __('Total Residents') }}</h4>
            <div>{{ stats['residents'] }}</div>
        </div>
        <div class="stat-box">
            <h4>{{ __('Total Amount') }}</h4>
            <div>{{ stats['amount'] }}</div>
        </div>
    </div>
{% endblock %}